@font-face {
    font-family: Hack;
    src: url(/home/fommil/.fonts/Hack-Regular.ttf) format('truetype');
}

html {
    font-size: 14pt;
    margin: 0 2em 0 2em;
}

pre { font-family: Hack; }
code { font-family: Hack; }

.header { visibility: hidden; }

h1 {
    font-size: 18pt;
}
