@font-face {
    font-family: Hack;
    src: url(/home/fommil/.fonts/Hack-Regular.ttf) format('truetype');
/*    font-weight: normal;
    font-style: normal;*/
}
/*
@font-face {
    font-family: Hack;
    src: url(/home/fommil/.fonts/Hack-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/
/*
@font-face {
    font-family: Hack;
    src: url(/home/fommil/.fonts/Hack-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Hack;
    src: url(/home/fommil/.fonts/Hack-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
*/
/*
@font-face {
    font-family: AbhayaLibre;
    src: url(/home/fommil/.fonts/AbhayaLibre-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: AbhayaLibre;
    src: url(/home/fommil/.fonts/AbhayaLibre-Bold.ttf) format('truetype');
    font-weight: bold;
}
*/

html {
/*  font-family: AbhayaLibre;*/
    /* DejaVu Serif is missing many ligatures */
/*    -webkit-font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "liga" 0;
    text-rendering: optimizeSpeed;
*/
    font-size: 14pt;
    margin: 0 2em 0 2em;
}

p { line-height: 1.5; text-align: justify; }
sup { font-size: 9pt;  }
blockquote {  line-height: 1.5; font-size: 90%;  }
li { padding-top: 6pt; }
dt { font-weight: bold; font-family: Hack; padding-top: 12pt; padding-bottom: 3pt; }
div.notes { font-size: 12pt; }
.shaded { background: #dddddd; }
pre {  margin-left: .25in; font-family: Hack; }
code { white-space: nowrap; font-family: Hack; }

div.table-caption
{
  font-family: sans-serif;
  font-style: italic;
  font-size: 12pt;
}

div.figure-caption
{
  font-family: sans-serif;
  font-style: italic;
  font-size: 12pt;
}

table.book-table
{
  margin: 12pt auto;
  border: thin dotted black;
  width: 80%;
}
.book-table td {
  padding: 2pt;
  font-size: 80%;
  border-bottom: thin dotted black;
}

div.summary {
        font-size: 12pt;
        font-family: sans-serif;
        font-style: italic;
        padding-top: 6pt;
}
div.copyright {
        font-size: 10pt;
        font-style: italic;
        text-align: right;
        padding-top: 24pt;
        clear: both;
}

span.annotation {
        display: none;
}

span.review {
        display: none;
}


img.figure {
        display: block;
        margin: auto;
}

div.summary-float {
        float: right;
        width: .75in;
        margin-right: -1in;
        font-size: 12pt;
        font-family: sans-serif;
        font-style: italic;
        color:#ff0000;
}

div.sidebarhead {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
        border: solid thin black;
        background-color: #xff0000;
        padding: 1em;
        margin: 0in .5in;
}

div.sidebar {
        font-size: 12pt;
        font-family: sans-serif;
        border: solid thin black;
        padding: 1em;
        margin: 0in .5in;
}

img.floater { float: left; margin: 0pt 12pt 0pt 6pt; }
